html,
body {
	background: black;
	width: 100%;
	height: 100%;
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
}

h1 {
	font-weight: 900;
	color: white;
	text-transform: uppercase;
	letter-spacing: 18px;
	margin-left: 25px;
	margin-bottom: 0px;
	font-size: medium;
	text-align: center;
}

ul li {
	padding-left: 2em;
	list-style: none;
	display: inline-block; /* this allows for our list items to be left-right instead of top-bottom */
}

#location {
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: x-small;
	position: relative;
	margin-top: 20px;
	text-align: center;
}

#footerWrap {
	width: 100%;
	position: fixed;
	bottom: 0px;
}

footer#footer {
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 400px;
}

#footer-links {
	width: 100%;
	text-align: center;
	margin-bottom: 10rem;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.943);
	padding: 16px 24px;
}

#footer-links::after {
	position: absolute;
	content: "";
	top: 15px;
	left: 0;
	right: 0;
	z-index: -1;
	height: 50%;
	width: 100%;
	transform: scale(0.256) translateZ(0);
	filter: blur(18px);
	background: linear-gradient(
		to left,
		#ff5770,
		#e4428d,
		#c42da8,
		#9e1603,
		#6501de,
		#9e16c3,
		#c42da8,
		#e4428d,
		#ff5770
	);
	background-size: 200% 200%;
	animation: animateGlow 1.25s linear infinite;
}
/* flood light rainbow */
@keyframes animateGlow {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 200% 50%;
	}
}

/* blinking animation start */
.myWord {
	margin-left: 10px;
	display: inline;
	top: 0px;
	left: 0px;
	min-height: 1em;
}

.word .cursor {
	display: inline-block;
	min-width: 1px;
	background: #fff;
	margin-left: -0.5em;
	margin-top: -0.1em;
	height: 1.3em;
	vertical-align: middle;
	animation: blinkCursor 1s infinite;
}

#animationWord {
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-size: 1em;
	text-align: center;
	margin-top: 10px;
}

@keyframes blinkCursor {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}
	80.1% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/* blinking animation end */

/* when on ipad to mobile view adjust name size and rainbow size */
@media (max-width: 420px) {
	#footer-links::after {
		transform: scale(0.55) translateZ(0);
		filter: blur(34px);
	}
	h1 {
		font-size: small;
	}
}

@media (min-width: 1280px) {
	#footer-links::after {
		transform: scale(0.15) translateZ(0);
		filter: blur(34px);
	}
	h1 {
		font-size: small;
	}
}
